
/* 
*----------------- Responsive Goes Here */

@media screen and (min-width: 1201px) {
	html {
		font-size: 16px;
	}
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 13px;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 11px;
	}
}
