/* 
*---------------- Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

/* 
*---------------- Reset CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}
a {
	text-decoration: none;
	color: inherit;
}

/*
*----------------- Main CSS */
body {
	font-family: "Roboto";
	font-weight: 400;
	min-height: 100vw;
	color: #3d3a3f;
}
.container {
	padding-left: 7.5rem !important;
	padding-right: 7.5rem !important;
}

.nav {
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	height: 6.5rem;
	padding: 1.5rem 0;
}
.nav__logo {
	font-weight: 700;
}
.nav__link-wrap {
	display: flex;
	align-items: center;
	column-gap: 1.5rem;
}
.nav ul {
	display: flex;
	list-style: none;
	column-gap: 1rem;
}
.nav__links {
	color: inherit;
}
.nav__button {
	font-family: "Roboto";
	font-weight: 500;
	padding: 12px 24px;
	border: 1px solid black;
	border-radius: 40px;
	color: black;
}

.main {
	display: flex;
	padding-top: 6.5rem !important;
	padding: 2.5rem 0;
	column-gap: 2.5rem;
}
.main__content-wrap {
	display: flex;
	row-gap: 2rem;
	flex-direction: column;
	justify-content: center;
}
.main__title {
	font-size: 4rem;
	font-weight: 500;
	line-height: 4.5rem;
}
.main__title span {
	display: block;
}
.main__description {
	font-size: 1.125rem;
	line-height: 2rem;
	white-space: pre-line;
}
.main__button-wrap {
	display: flex;
	align-items: center;
	column-gap: 2rem;
}
.main__button-wrap a {
	display: flex;
	line-height: 1.5rem;
	font-weight: 500;
}
.main__button-wrap a:nth-child(1) {
	background-color: #f9ae25;
	padding: 1rem 2rem;
	border-radius: 40px;
}
.main__button-wrap a:nth-child(2) {
    column-gap: 0.5rem;
    align-items: center;
}
.main__button-wrap a:nth-child(2) img {
	display: inline-flex;
}
.main__image {
	border-radius: 120px;
}

/* 
*----------------- Responsive Goes Here */

@media screen and (min-width: 1201px) {
	html {
		font-size: 16px;
	}
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
	html {
		font-size: 11px;
	}
}
